body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: 'Helvetica Neue', sans-serif;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.gallery-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100vh;
  object-fit: contain;
  transition: opacity 0.5s;
}

.info-container {
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
  transition: bottom 0.5s;
}

.info-container.active {
  bottom: 0;
}

.survey-container {
  color: white;
  text-align: left;
  padding: 20px;
}

.survey-container form {
  display: flex;
  flex-direction: column;
}

button {
  margin-top: 20px;
  padding: 10px;
  background-color: #444;
  color: white;
  border: none;
  border-radius: 5px;
}
